* {
    box-sizing: border-box;
}


.logo {
    margin-left: 100px;
    margin-top: 20px;
}

.hamburguer{
    display: none;
}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    
}

.navbar {
width: 100%;
height: 50%;
background-color: black;

}

.home {
    margin-top: -40px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 20px;
    color: white;
}

.sobre {
    margin-top: -40px;
    font-size: 18px;
    margin-right: 20px;
    color: white;
}

#caderno-img {
    background-image: url(../img/background9.jpg);
    margin-bottom: 10px;
}

.caderno-digital {
    margin-top: -40px;
    font-size: 18px;
    margin-right: 20px;
    color: white;
}

.contato {
    margin-top: -40px;
    font-size: 18px;
    margin-right: 20px;
    color: white;
}

.img-header{
    width: 100%;
    height: 20%;
}

.botones-img {
    width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.carrusel {
    margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}


.ferramentas {
    margin-top: 20px;
    margin-bottom: 20px;
    offset: 10px;
    border: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    border: 3px solid #962196;
    color: #962196;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset;
    transition-duration: 1s;
}


.ferramentas:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    offset: 10px;
    border: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    border: 3px solid #962196;
    color: white;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset;
    transition-duration: 1s;
}

.div1 {
    display: flex;
    flex-direction: column;
}

/* .img-carpeta {
    width: 50px;
    height: 50px;
} */

h2 {
    color: white;
}
.btn-cadernos, .etiquetas, .plantillas {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 15%;
    color: white;
    background-color: purple;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}


.btn-cadernos-fin {
    margin-top: 20px;
    margin-bottom: 20px;
    offset: 10px;
    border: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    border: 3px solid;
    color: #962196;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset;
    transition-duration: 2s;
}

.btn-cadernos-fin:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    offset: 10px;
    border: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset;
    transition-duration: 0.4s;
}



/* .secao-caderno-funcional {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 10px;
    width: 100%;
} */


/* .menu-desplegable {
    font-size: 90px;
    background-color: purple;
} */

/* #caderno-img{
    background-image: url(../img/background4.jpg);
} */

.caderno-funcional {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5px;
    width: 50%;

}

.img-carpeta {
    width: 50px;
    height: 50px;
}

.inputSpace {
    width: 60%;
    height: 40%;
    margin-left: 50px;
    border: 10px solid purple;
}



#button-agregar {
    margin-top: 10px;
    margin-left: 50px;
    width: 60%;
    height: 40%;
    border-radius: 10px;
    background-color: purple;
    color: white;
}

#cadernoReprograma {
    width: 900px;
    height: 450px;
    /* margin-left: 250px; */
    margin-top: 30px;
}

.caderno {
    margin: 0 auto;

}

.error {
    margin-left: 50px;
}

.botaos {
    display: flex;
    flex-direction: row;
}

.btn-salvar, .btn-novo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    /* margin-left: 1000px; */
    border-radius: 10px;
    background-color: purple;
    color: white;
}

.container-imagens, .container-imagens-2 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.programacion, .estudo, .code, .face {
    width: 25%;
    height: 25%;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color: purple;
}

.icone {
    width: 48px;
    height: 48px;
}


@media (max-width: 320px){

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .hamburguer{
        width: 50px;
        height: 50px;
        display: unset;
    }
    
    .Nav {
        display: none;
        
    }

    .navbar {
        width: 100%;
        height: 50%;
        background-color: black;
    }

    .hamburguer{
        display: inline-flex;
        flex-direction: row;
        justify-content: right;
        width: 50px;
        height: 50px;
        margin-left: 100px;
    }

    .img-header{
        width: 100%;
        height: 20%;
    }
    
    .botones-img {
        width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
    }
    .carrusel {
        margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease;
    }
    
    
    .ferramentas {
        margin-top: 20px;
        margin-bottom: 20px;
        offset: 10px;
        border: 2px;
        display: block;
        position: relative;
        padding: 1.5em 3em;
        appearance: none;
        border: 0;
        background: transparent;
        border: 3px solid #962196;
        color: #962196;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0;
        box-shadow: inset;
        transition-duration: 8s;
    }
    
    
    .div1 {
        display: flex;
        flex-direction: column;
    }
    
    
    .btn-cadernos, .etiquetas, .plantillas {
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: white;
        background-color: purple;
        border-radius: 20px;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 20px;
        width: 180px;
    }
    
    
    
    
    /* .menu-desplegable {
        font-size: 90px;
        background-color: purple;
    } */
    
    .caderno-funcional {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 5px;
        width: 50%;
    }

    .img-carpeta {
        width: 50px;
        height: 50px;
    }
    
    .inputSpace {
        width: 60%;
        height: 40%;
        margin-left: 50px;
        border: 10px solid purple;
    }
    
    #button-agregar {
        margin-top: 10px;
        margin-left: 50px;
        width: 60%;
        height: 40%;
        border-radius: 10px;
        background-color: purple;
        color: white;
        margin-bottom: 10px;
    }

    
    #cadernoReprograma {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 200px;
        /* margin-left: 250px; */
        margin-top: 30px;
    }
    
    .caderno {
        margin: 0 auto;
    
    }
    
    .error {
        margin-left: 50px;
    }

    #botaos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .btn-salvar, .btn-novo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        /* margin-left: 1000px; */
        background-color: purple;
        color: white;
    }
    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }

    .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color: purple;
    }

    .icone {
    width: 48px;
    height: 48px;
    }
}

@media (min-width: 321px) and (max-width: 375px){

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .hamburguer{
        width: 50px;
        height: 50px;
        display: unset;
    }
    
    .Nav {
        display: none;
        
    }

    .navbar {
        width: 100%;
        height: 50%;
        background-color: black;
    }

    .hamburguer{
        display: inline-flex;
        flex-direction: row;
        justify-content: right;
        width: 50px;
        height: 50px;
        margin-left: 100px;
    }

    .img-header{
        width: 100%;
        height: 20%;
    }
    
    .botones-img {
        width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
    }
    .carrusel {
        margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease;
    }
    
    
    .ferramentas {
        margin-top: 20px;
        margin-bottom: 20px;
        offset: 10px;
        border: 2px;
        display: block;
        position: relative;
        padding: 1.5em 3em;
        appearance: none;
        border: 0;
        background: transparent;
        border: 3px solid #962196;
        color: #962196;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0;
        box-shadow: inset;
        transition-duration: 8s;
    }
    
    
    .div1 {
        display: flex;
        flex-direction: column;
    }
    
    
    .btn-cadernos, .etiquetas, .plantillas {
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: white;
        background-color: purple;
        border-radius: 20px;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 20px;
        width: 180px;
    }
    
    
    
    
    /* .menu-desplegable {
        font-size: 90px;
        background-color: purple;
    } */
    
    .caderno-funcional {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 5px;
        width: 50%;
    }

    .img-carpeta {
        width: 50px;
        height: 50px;
    }
    
    .inputSpace {
        width: 60%;
        height: 40%;
        margin-left: 50px;
        border: 10px solid purple;
    }
    
    #button-agregar {
        margin-top: 10px;
        margin-left: 50px;
        width: 60%;
        height: 40%;
        border-radius: 10px;
        background-color: purple;
        color: white;
        margin-bottom: 10px;
    }

    
    #cadernoReprograma {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 200px;
        margin: 0 auto;
        /* margin-left: 250px; */
        margin-top: 30px;
    }
    
    .caderno {
        margin: 0 auto;
    
    }
    
    .error {
        margin-left: 50px;
    }

    #botaos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .btn-salvar, .btn-novo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        /* margin-left: 1000px; */
        background-color: purple;
        color: white;
    }
    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }

    .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color: purple;
    }

    .icone {
    width: 48px;
    height: 48px;
    }
}


@media (min-width: 376px) and (max-width: 425px){

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .hamburguer{
        width: 50px;
        height: 50px;
        display: unset;
    }
    
    .Nav {
        display: none;
        
    }

    .navbar {
        width: 100%;
        height: 50%;
        background-color: black;
    }

    .hamburguer{
        display: inline-flex;
        flex-direction: row;
        justify-content: right;
        width: 50px;
        height: 50px;
        margin-left: 100px;
    }

    .img-header{
        width: 100%;
        height: 20%;
    }
    
    .botones-img {
        width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
    }
    .carrusel {
        margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease;
    }
    
    
    .ferramentas {
        margin-top: 20px;
        margin-bottom: 20px;
        offset: 10px;
        border: 2px;
        display: block;
        position: relative;
        padding: 1.5em 3em;
        appearance: none;
        border: 0;
        background: transparent;
        border: 3px solid #962196;
        color: #962196;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0;
        box-shadow: inset;
        transition-duration: 8s;
    }
    
    
    .div1 {
        display: flex;
        flex-direction: column;
    }
    
    
    .btn-cadernos, .etiquetas, .plantillas {
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: white;
        background-color: purple;
        border-radius: 20px;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 20px;
        width: 180px;
    }
    
    
    
    
    /* .menu-desplegable {
        font-size: 90px;
        background-color: purple;
    } */
    
    .caderno-funcional {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 5px;
        width: 50%;
    }

    .img-carpeta {
        width: 50px;
        height: 50px;
    }
    
    .inputSpace {
        width: 60%;
        height: 40%;
        margin-left: 50px;
        border: 10px solid purple;
    }
    
    #button-agregar {
        margin-top: 10px;
        margin-left: 50px;
        width: 60%;
        height: 40%;
        border-radius: 10px;
        background-color: purple;
        color: white;
        margin-bottom: 10px;
    }

    
    #cadernoReprograma {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 300px;
        margin: 0 auto;
        /* margin-left: 250px; */
        margin-top: 30px;
    }
    
    .caderno {
        margin: 0 auto;
    
    }
    
    .error {
        margin-left: 50px;
    }

    #botaos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .btn-salvar, .btn-novo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        /* margin-left: 1000px; */
        background-color: purple;
        color: white;
    }
    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }

    .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color: purple;
    }

    .icone {
    width: 48px;
    height: 48px;
    }
}

@media (min-width: 426px) and (max-width: 768px){

    .logo {
        margin-left: 20px;
    }
    .img-header{
        width: 100%;
        height: 20%;
    }
    
    .botones-img {
        width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
    }
    .carrusel {
        margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease;
    }
    
    
    .ferramentas {
        margin-top: 20px;
        margin-bottom: 20px;
        offset: 10px;
        border: 2px;
        display: block;
        position: relative;
        padding: 1.5em 3em;
        appearance: none;
        border: 0;
        background: transparent;
        border: 3px solid #962196;
        color: #962196;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0;
        box-shadow: inset;
        transition-duration: 8s;
    }
    
    
    .div1 {
        display: flex;
        flex-direction: column;
    }
    
    
    .btn-cadernos, .etiquetas, .plantillas {
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: white;
        background-color: purple;
        border-radius: 20px;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 20px;
        width: 180px;
        
    }
    
    
    
    
    /* .menu-desplegable {
        font-size: 90px;
        background-color: purple;
    } */
    
    .caderno-funcional {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 5px;
        width: 50%;
    }

    .img-carpeta {
        width: 50px;
        height: 50px;
    }
    
    .inputSpace {
        width: 60%;
        height: 40%;
        margin-left: 50px;
        border: 10px solid purple;
    }
    
    #button-agregar {
        margin-top: 10px;
        margin-left: 50px;
        width: 60%;
        height: 40%;
        border-radius: 10px;
        background-color: purple;
        color: white;
        margin-bottom: 10px;
    }

    
    #cadernoReprograma {
        display: flex;
        flex-direction: column;
        width: 700px;
        height: 300px;
        margin: 0 auto;
        /* margin-left: 250px; */
        margin-top: 30px;
    }
    
    .caderno {
        margin: 0 auto;
    
    }
    
    .error {
        margin-left: 50px;
    }

    #botaos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .btn-salvar, .btn-novo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        background-color: purple;
        color: white;
    }
    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }

    .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color: purple;
    }

    .icone {
    width: 48px;
    height: 48px;
    }
}



@media (min-width: 769px) and (max-width: 1024px){

    .img-header{
        width: 100%;
        height: 20%;
    }
    
    .botones-img {
        width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
    }
    .carrusel {
        margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease;
    }
    
    
    .ferramentas {
        margin-top: 20px;
        margin-bottom: 20px;
        offset: 10px;
        border: 2px;
        display: block;
        position: relative;
        padding: 1.5em 3em;
        appearance: none;
        border: 0;
        background: transparent;
        border: 3px solid #962196;
        color: #962196;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0;
        box-shadow: inset;
        transition-duration: 8s;
    }
    
    
    .div1 {
        display: flex;
        flex-direction: column;
    }
    
    
    .btn-cadernos, .etiquetas, .plantillas {
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: white;
        background-color: purple;
        border-radius: 20px;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 20px;
        width: 180px;
    }
    

    .caderno-funcional {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 5px;
        width: 50%;
    }

    .img-carpeta {
        width: 50px;
        height: 50px;
    }
    
    .inputSpace {
        width: 60%;
        height: 40%;
        margin-left: 50px;
        border: 10px solid purple;
    }
    
    #button-agregar {
        margin-top: 10px;
        margin-left: 50px;
        width: 60%;
        height: 40%;
        border-radius: 10px;
        background-color: purple;
        color: white;
        margin-bottom: 10px;
    }

    
    #cadernoReprograma {
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 300px;
        margin: 0 auto;
        /* margin-left: 250px; */
        margin-top: 30px;
    }
    
    .caderno {
        margin: 0 auto;
    
    }
    
    .error {
        margin-left: 50px;
    }

    #botaos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .btn-salvar, .btn-novo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        background-color: purple;
        color: white;
    }
    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }

    .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color: purple;
    }

    .icone {
    width: 48px;
    height: 48px;
    }
}


@media (min-width: 1025px) and(max-width: 1440px){

    .img-header{
        width: 100%;
        height: 20%;
    }
    
    .botones-img {
        width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
    }
    .carrusel {
        margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease;
    }
    
    
    .ferramentas {
        margin-top: 20px;
        margin-bottom: 20px;
        offset: 10px;
        border: 2px;
        display: block;
        position: relative;
        padding: 1.5em 3em;
        appearance: none;
        border: 0;
        background: transparent;
        border: 3px solid #962196;
        color: #962196;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0;
        box-shadow: inset;
        transition-duration: 8s;
    }
    
    
    .div1 {
        display: flex;
        flex-direction: column;
    }
    
    
    .btn-cadernos, .etiquetas, .plantillas {
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: white;
        background-color: purple;
        border-radius: 20px;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 20px;
        width: 180px;
    }
    
    
    
    
    /* .menu-desplegable {
        font-size: 90px;
        background-color: purple;
    } */
    
    .caderno-funcional {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 5px;
        width: 50%;
    }

    .img-carpeta {
        width: 50px;
        height: 50px;
    }
    
    .inputSpace {
        width: 60%;
        height: 40%;
        margin-left: 50px;
        border: 10px solid purple;
    }
    
    #button-agregar {
        margin-top: 10px;
        margin-left: 50px;
        width: 60%;
        height: 40%;
        border-radius: 10px;
        background-color: purple;
        color: white;
        margin-bottom: 10px;
    }

    
    #cadernoReprograma {
        display: flex;
        flex-direction: column;
        width: 1400px;
        height: 300px;
        margin: 0 auto;
        /* margin-left: 270px; */
        margin-top: 30px;
    }
    
    .caderno {
        margin: 0 auto;
    
    }
    
    .error {
        margin-left: 50px;
    }

    #botaos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .btn-salvar, .btn-novo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        background-color: purple;
        color: white;
    }
    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }

    .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color: purple;
    }

    .icone {
    width: 48px;
    height: 48px;
    }
}
