* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.logo {
    width: 50px;
    height: 50px;
}

.hamburguer{
    display: none;
}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    
}

.navbar {
width: 100%;
height: 50%;
background-color: black;

}

.home {
    margin-top: -40px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 20px;
    color: white;
}

.sobre {
    margin-top: -40px;
    font-size: 18px;
    margin-right: 20px;
    color: white;
}

.caderno-digital {
    margin-top: -40px;
    font-size: 18px;
    margin-right: 20px;
    color: white;
}

.contato {
    margin-top: -40px;
    font-size: 18px;
    margin-right: 20px;
    color: white;
}

.img-header{
    width: 100%;
    height: 20%;
}

.features {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.texto-1 {
    font-size: 24px;
    text-align: center;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.tempo {
    margin-top: 20px;
    width: 80%;
}

.texto-tempo {
    font-size: 20px;
}

.organizacao {
    margin-top: 20px;
    width: 80%;
}

.foto-relogio{
    margin-top: 20px;
    margin-bottom: 10px;
}

.container-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.container-imagens, .container-imagens-2 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.programacion, .estudo, .code, .face {
    width: 25%;
    height: 25%;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color: purple;
}

.icone {
    width: 48px;
    height: 48px;
}

/* INDEX.HTML (PAG 1)*/
@media (max-width: 320px){

    
    .Nav {
        display: none;
        
    }

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .hamburguer{
        width: 50px;
        height: 50px;
        display: unset;
    }
    

    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    .tempo {
        margin-top: 20px;
        margin: 0 auto;
        width: 80%;
        
    }
    
    .texto-tempo {
        font-size: 20px;
        margin: 0 auto;
    }
    
    .organizacao {
        margin-top: 20px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
        
    }    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }
}



@media (max-width: 375px){

    .Nav {
        display: none;
        
    }
    
    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .hamburguer{
        width: 50px;
        height: 50px;
        display: unset;
    }

    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    .tempo {
        margin-top: 20px;
        margin: 0 auto;
        width: 80%;
        
    }
    
    .texto-tempo {
        font-size: 20px;
        margin: 0 auto;
    }
    
    .organizacao {
        margin-top: 20px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
        
    }    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 425px){

    .logo {
        width: 50px;
        height: 50px;
    }
    
    .Nav {
        display: none;
        
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }

    .hamburguer{
        width: 50px;
        height: 50px;
        display: unset;
    }
    .container-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .tempo {
        margin-top: 20px;
        margin: 0 auto;
        width: 80%;
        
    }
    
    .texto-tempo {
        font-size: 20px;
        margin: 0 auto;
    }
    
    .organizacao {
        margin-top: 20px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
        
    }    
    .container-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .container-imagens, .container-imagens-2 {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .programacion, .estudo, .code, .face {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 1440px){
    .logo{
        margin-left: 40px;
    }
}
